/*reset*/

html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 13px;
    font-family: arial;
    height: 100%;
    white-space:nowrap;
}


/*头部导航部分*/

header {
    float: right;
    height: 50px;
    width: 510px;
}

header a:link {
    color: #0F0F0F
}

header a:visited {
    color: #0F0F0F
}

header a:hover {
    color: #0000FF
}

header a:active {
    color: #0000FF;
}

nav {
    width: 510px;
    height: 40px;
    font-size: 13px;
    left: 100px;
    white-space: nowrap;
}

ul {
    list-style: none;
}

ul li {
    float: left;
    text-align: center;
    line-height: 40px;
}

header a {
    color: #000;
    display: block;
    margin: 0px 10px;
}

#login {
    margin-right: 15px;
}

.setting_li {
    float: none;
    margin-left: -40px;
    height: 25px;
    padding: 0px 0px;
    line-height: 25px;
}

.setting_li a {
    padding: 0px 0px;
    text-decoration: none;
    margin: 0px;
}

.setting_li a:hover {
    color: #FFFFFF;
    background-color: #1E90FF;
    text-decoration: none;
}

.setting_ul {
    border: 1px solid #C4C4C4;
    display: none;
    position: absolute;
    margin-top: -5px;
}

.more_li {
    float: none;
    margin-left: -50px;
    margin-top: 30px;
    padding: 0px 0px;
    height: 50px;
    line-height: 15px;
    text-align: center;
}

#more_li {
    text-decoration: underline;
}

.more_li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.more_li a:link {
    color: #666;
    text-decoration: none;
}

.more_li a:visited {
    color: #666;
    text-decoration: none;
}

.more_li a:hover {
    color: #666;
    text-decoration: underline;
    text-decoration-color: #666;
}

.more_li a:active {
    color: #0000FF;
    text-decoration: underline;
    text-decoration-color: #0000FF;
}

.more_ul {
    display: none;
    position: absolute;
    text-align: center;
}

.setting {
    display: inline-block;
    width: 60px;
    margin-left: -12px;
}

#more {
    background-color: #3385ff;
    color: #F4F4F4;
    width: 60px;
    height: 24px;
    margin-top: 8px;
    line-height: 24px;
}

.setting:hover .setting_ul {
    display: block;
}

.more:hover .more_ul {
    display: block;
}

#more:hover {
    background-color: #F4F4F4;
    color: #0F0F0F;
}

#main {
    min-height: 500px;
    position: relative;
    height: 100%;
}


/*中间搜索框部分*/

.content {
    width: 100%;
    text-align: center;
   /* margin-left: auto;
    margin-right: auto;*/
    position: absolute;
    top: 15%;
}

.content img {
    width: 270px;
    height: 129px;
}

.content input {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 536px;
    height: 36px;
    border: 1px solid #CCCCCC;
    border-right: none;
    font-size: 16px;
    padding-left: 5px;
}

.camera {
    display: inline-block;
    position:relative;
    left: 535px;
    bottom: -4px;
    
}
.camera img {
    height: 16px;
    width: 18px;
}

#camera2 {
    display: none;
}

.camera:hover #camera1 {
    display: none;
}

.camera:hover #camera2 {
    display: inline;
}
input:hover{
    border: 1px solid #B7B7B7;
    border-right: none;
    outline: none;
}

input:focus {
    border: 1px solid #3385ff;
    border-right: none;
    outline: none;
}

.content button {
    margin:0px;
    padding: 0px;
    margin-left: -4px;
    width: 100px;
    height: 38px;
    background-color: #3385ff;
    border: 1px solid #3385ff;
    font-size: 15px;
    color: #FCFCFC;
}

button {
    cursor: pointer;
}

button:visited {
    background-color: #3385ff;
}

button:hover {
    background-color: #2d78f4
}

button:active {
    background-color: #436EEE;
    color:#DCDCDC 
}




/*底部信息*/

footer {
    position: absolute;
    width: 100%;
    bottom: 44px;
    left:50%;
    margin-left: -310px;
    line-height: 2em;
    color: #999;
}

footer b {
    color: #666;
}

footer img {
    width: 17px;
    height: 14px;
}

.qr_pic {
    height: 60px;
    width: 60px;
}

footer span {
    display: inline-block;
    position: relative;
    top: -10px;
}

footer div {
    display: inline-block;
}

footer a:link {
    color: #999;
}

footer a:visited {
    color: #999;
}

footer a:hover {
    color: #999;
}

footer a:active {
    color: #999;
}

.bor1 {
    margin-left: 15px;
}

.bor2 {
    margin-left: 25px;
}

.icp {
    display: inline-block;
    width: 17px;
    height: 17px;
    padding-bottom: -2px;
}
